{{!< admin}}

{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}edit recipient{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">Edit recepient</div>

  <div class="panel-body">
    <form id="recipient-form" class="col-md-8 col-md-offset-2" method="POST">
      {{#with recipient}}
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" name="twitterHandle" placeholder="twitter handle" value="{{twitterHandle}}" required>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="recipient name" value="{{name}}" required>
        </div>
        {{#with address}}
          <div class="form-group">
            <input type="text" class="form-control" name="address[address]" placeholder="address" value="{{address}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[additionalAddress]" placeholder="additional address" value="{{additionalAddress}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[city]" placeholder="city" value="{{city}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[state]" placeholder="state" value="{{state}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[zipCode]" placeholder="zip code" pattern="\d{5}(-\d{4})?" value="{{zipCode}}" required>
          </div>
        {{/with}}
        <div class="form-group">
          <button class="btn btn-default pull-right">Save</button>
        </div>
      {{/with}}
    </form>
  </div>

  <div class="panel-footer">
  </div>
</div>
