{{!< admin}}

{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}recipients{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">Recipients</div>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <form id="recipient-form" class="col-md-8 col-md-offset-2" action="{{href 'admin/recipients/add'}}" method="POST">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input id="handle" type="text" class="form-control" name="twitterHandle" placeholder="twitter handle" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="recipient name" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[address]" placeholder="address" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[additionalAddress]" placeholder="additional address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[city]" placeholder="city" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[state]" placeholder="state" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address[zipCode]" placeholder="zip code" pattern="\d{5}" required>
          </div>
          <div class="form-group">
            <button class="btn btn-default pull-right">Add</button>
          </div>
        </form>
      </div>
    </li>

    <li id="results" class="list-group-item"></li>

    <li class="list-group-item">
      <div class="row">
        <form id="search-form" class="col-md-8 col-md-offset-2" action="{{href 'admin/recipients#results'}}">
          <div class="form-group">
            <input type="search" name="q" class="form-control" placeholder="query" value="{{q}}">
          </div>
          <div class="form-group">
            <button class="btn btn-default pull-right" title="search"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </form>
        <div class="col-md-2"></div>
      </div>
    </li>

  </ul>

  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <th>Handle</th>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {{#each recipients}}
        <tr data-recipient="{{twitterHandle}}">
          <td class="js-recipient-handle"><a href="https://twitter.com/{{twitterHandle}}" target="_blank">{{twitterHandle}}</a></td>
          <td class="js-recipient-name">{{name}}</td>
          <td>
            {{#with address}}
              <span class="js-recipient-address-address">{{address}}</span>
              <br>
              <span class="js-recipient-address-additional-address">{{additionalAddress}}</span>
              <br>
              <span class="js-recipient-address-city">{{city}}</span>
              <br>
              <span class="js-recipient-address-state">{{state}}</span>
              <br>
              <span class="js-recipient-address-zip-code">{{zipCode}}</span>
            {{/with}}
          </td>
          <td>
            <a href="{{href 'admin/recipients' id}}" class="btn btn-default" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger" href="{{href 'admin/recipients' id 'remove'}}" title="remove"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="panel-footer">
    <div class="pull-right">
      <ul class="pagination">
        {{#paginate pagination type="previous"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/recipients' p=n q=../q}}#results">&laquo;</a></li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="5"}}
          <li class="{{#if active}}active{{/if}}"><a href="{{href 'admin/recipients' p=n q=../q}}#results"><span>{{n}}</span></a></li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/recipients' p=n q=../q}}">&raquo;</a></li>
        {{/paginate}}
      </ul>
    </div>
  </div>
</div>
