<div class="tweet" data-handle="{{twitterHandle}}">
  <div class="content">
    <div class="tweet-inner-header">
      <a class="account-group" href="{{href 'profile' this}}">
        <img src="{{mainImage}}" alt="" class="avatar">
        <strong class="fullname">{{displayName}}</strong>
        <span>&rlm;</span>@<span class="username">{{twitterHandle}}</span>
      </a>
      <small>
        {{getKey this 'counters.tweets.count' 0}} tweets and {{getKey this 'counters.cards.count' 0}} cards in support of {{getKey this 'counters.campaigns.count' 0}} campaigns.
       </small>
    </div>
  </div>
  <div class="tweet-inner-footer">
    <div class="tweet-actions">
      <a href="https://twitter.com/{{twitterHandle}}" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @{{twitterHandle}}</a>
    </div>
  </div>
</div>
