{{!< admin}}

{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}activists{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">Activists</div>

  <div class="panel-body">
    <div class="row">
      <form class="col-md-8 col-md-offset-2" action="{{href 'admin/users#results'}}">
        <div class="form-group">
          <input type="search" name="q" class="form-control" placeholder="query" value="{{q}}">
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="isAdmin" {{#if isAdmin}}checked{{/if}}> Administrators</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="isUncomplete" {{#if isUncomplete}}checked{{/if}}> With uncomplete profile</label>
        </div>
        <div class="form-group">
          <button class="btn btn-default pull-right" title="search"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>
      <div class="col-md-2"></div>
    </div>    
  </div>

  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <th>Avatar</th>
      <th>Handle</th>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {{#each users}}
        <tr class="{{#if isAdmin}}success{{/if}} {{#unless isComplete}}warning{{/unless}}">
          <td><img src="{{mainImage}}" alt="avatar"></td>
          <td><a href="https://twitter.com/{{twitterHandle}}" target="_blank">{{twitterHandle}}</a></td>
          <td>{{displayName}}</td>
          <td>
            {{#with address}}
              <span>{{address}}</span>
              <br>
              <span>{{additionalAddress}}</span>
              <br>
              <span>{{city}}</span>
              <br>
              <span>{{state}}</span>
              <br>
              <span>{{zipCode}}</span>
            {{/with}}
          </td>
          <td>
            {{#if isAdmin}}
              <a class="btn btn-danger" href="{{href 'admin/admins' twitterHandle 'remove'}}" title="remove admin access"><span class="glyphicon glyphicon-lock"></span></a>
            {{else}}
              <form action="{{href 'admin/admins/add'}}" method="POST">
                <input type="hidden" name="handle" value="{{twitterHandle}}">
                <button class="btn btn-default" title="add admin access"><span class="glyphicon glyphicon-user"></span></button>
              </form>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="panel-footer">
    <div class="pull-right">
      <ul class="pagination">
        {{#paginate pagination type="previous"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/users' p=n q=../q}}#results">&laquo;</a></li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="5"}}
          <li class="{{#if active}}active{{/if}}"><a href="{{href 'admin/users' p=n q=../q}}#results"><span>{{n}}</span></a></li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/users' p=n q=../q}}">&raquo;</a></li>
        {{/paginate}}
      </ul>
    </div>
  </div>
</div>
