<div class="tweet" data-tweet-id="{{id}}" data-tweet="{{JSONStringify this}}">
  <div class="content">
    <div class="tweet-inner-header">
      <a class="account-group" href="https://twitter.com/{{user.twitterHandle}}" target="_blank">
        <img src="{{user.avatar}}" alt="" class="avatar">
        <strong class="fullname">{{user.displayName}}</strong>
        <span>&rlm;</span>@<span class="username">{{user.twitterHandle}}</span>
      </a>
      <small class="time">
        <a href="{{url}}" target="_blank">{{formatDate createDate}}</a>
      </small>
    </div>
    <p class="tweet-text">{{{getFormattedTweetText this}}}</p>
  </div>
  {{#if order}}
    <div class="tweet-inner-footer">
      <div class="pull-right">
        {{#if order.isProcessed}}
          <span class="glyphicon glyphicon-ok">sent to printer</span>
        {{else}}
          Order status: <a href="{{order.invoiceUrl}}" class="{{switch order.status complete='text-success'expired='text-warning' invalid='text-danger'}}" title="order status" target="_blank">{{order.status}}</a>
          {{#is order.status 'in' 'expired,complete'}}
          {{else}}
            <a href="{{href 'order' order 'sync'}}" title="refresh status"><span class="glyphicon glyphicon-refresh"></span></a>
          {{/is}}
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="tweet-inner-footer">
    <div class="tweet-actions">
      <a href="https://twitter.com/intent/tweet?in_reply_to={{id}}" title="reply" target="_blank"><span class="icon icon-reply"></span></a>
      <a href="https://twitter.com/intent/retweet?tweet_id={{id}}" title="retweet" target="_blank"><span class="icon icon-retweet"></span></a>
      <a href="https://twitter.com/intent/favorite?tweet_id={{id}}" title="favourite" target="_blank"><span class="icon icon-star"></span></a>
      {{#unless order}}
        {{#unless isView}}
          {{#if recipients.length}}
            |
            <a class="{{#unless recipients.length}}disabled{{/unless}}" href="{{href 'tweet' this}}" title="pay" role="button"><span class="glyphicon glyphicon-envelope"></span> Pay</a>
          {{/if}}
        {{/unless}}
      {{/unless}}
    </div>
  </div>
</div>
