{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}complete profile{{/contentFor}}

<section id="introduction" class="intro">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-12">
          <h2 class="grey text-center">Welcome to #activeqrowd, {{currentUser.displayName}}</h2>
          <h4 class="grey text-center">Complete your profile to start using our service</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content-placeholder" class="container">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3">
        <form method="POST">
          <div class="form-group">
            <label class="col-md-4">Name</label>
            <div class="col-mg-8">
              <input class="form-control" type="text" name="address[name]" autofocus required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Address</label>
            <div class="col-mg-8">
              <input class="form-control" type="text" name="address[address]" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Additional address</label>
            <div class="col-mg-8">
              <input class="form-control" type="text" name="address[additionalAddress]">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">City</label>
            <div class="col-mg-8">
              <input class="form-control" type="text" name="address[city]" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">State</label>
            <div class="col-mg-8">
              <input class="form-control" type="text" name="address[state]" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">ZIP code</label>
            <div class="col-mg-8">
              <input class="form-control" type="text" name="address[zipCode]" pattern="\d{5}(-\d{4})?" required>
            </div>
          </div>
          <button class="btn btn-default js-form-submit">Save</button>
          <small>Pressing this button, you confirm your agreement with ActiveQrowd <a href="{{href 'tos'}}">Terms of Service</a>.</small>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
