{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}{{#if currentUser}}registration{{else}}edit profile{{/if}}{{/contentFor}}

<section id="introduction" class="intro">
  <div class="container">
    <div class="wrapper"></div>
  </div>
</section>

<section id="content-placeholder" class="container">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3">
        <form method="POST">
          {{#with currentUser.address}}
            <div class="form-group">
              <label class="col-md-4">Name</label>
              <div class="col-mg-8">
                <input class="form-control" type="text" name="address[name]" value="{{name}}" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Address</label>
              <div class="col-mg-8">
                <input class="form-control" type="text" name="address[address]" value="{{address}}" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Additional address</label>
              <div class="col-mg-8">
                <input class="form-control" type="text" name="address[additionalAddress]" value="{{additionalAddres}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">City</label>
              <div class="col-mg-8">
                <input class="form-control" type="text" name="address[city]" value="{{city}}" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">State</label>
              <div class="col-mg-8">
                <input class="form-control" type="text" name="address[state]" value="{{state}}" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">ZIP code</label>
              <div class="col-mg-8">
                <input class="form-control" type="text" name="address[zipCode]" value="{{zipCode}}" pattern="\d{5}(-\d{4})?" required>
              </div>
            </div>
            <button class="btn btn-default">Save</button>
          {{/with}}
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
