{{#contentFor 'scripts'}}require(['app/activist/list']);{{/contentFor}}

<section id="introduction" class="intro">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-12">
          {{> common/editable}}
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form>
            <div class="form-group">
              <input class="form-control" type="search" name="q" data-query="{{q}}" placeholder="Search" value="{{q}}">
            </div>
            <div class="form-group">
              <button class="btn btn-default pull-right" title="search"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</section>

<section id="content-placeholder" class="container">
  <div class="col-md-12">
    <div class="col-md-8 col-md-offset-2">
      <div class="timeline">
        {{#each users}}
          {{> user/single}}
        {{else}}
          <p class="text-center">No activists found.</p>
        {{/each}}
      </div>
      <div class="col-md-12">
        <ul class="pagination pull-right">
          {{#paginate pagination type="previous"}}
            <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'activists' p=n q=../q}}#results">&laquo;</a></li>
          {{/paginate}}
          {{#paginate pagination type="middle" limit="5"}}
            <li class="{{#if active}}active{{/if}}"><a href="{{href 'activists' p=n q=../q}}#results"><span>{{n}}</span></a></li>
          {{/paginate}}
          {{#paginate pagination type="next"}}
            <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'activists' p=n q=../q}}">&raquo;</a></li>
          {{/paginate}}
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
