{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}{{user.displayName}} @{{user.twitterHandle}}{{/contentFor}}

<section id="introduction" class="intro">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-12">
          {{#if isOwner}}
            <h2 class="grey text-center">Welcome back, {{user.displayName}}</h2>
          {{else}}
            <h2 class="grey text-center">Activist <a href="https://twitter.com/{{user.twitterHandle}}">{{user.displayName}}</a></h2>
          {{/if}}
        </div>
        {{#if isOwner}}
          <div class="col-md-12">
            <h3 class="grey text-center"><a href="{{href ''}}">Start campaign</a></h3>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>

<section id="content-placeholder" class="container">
  <div class="container">
    <div class="col-md-12">
      {{#if isOwner}}
        <div class="col-md-8 col-md-offset-2">
          <h4>Your sender address:</h4>
          {{#with user.address}}
            <span class="js-address-name">{{name}}</span>
            <br>
            <span class="js-address-address">{{address}}</span>
            <br>
            {{#if additionalAddress}}
              <span class="js-address-additional-address">{{additionalAddress}}</span>
              <br>
            {{/if}}
            <span class="js-address-city">{{city}}</span>
            <br>
            <span class="js-address-state">{{state}}</span>
            <br>
            <span class="js-address-zip-code">{{zipCode}}</span>
            <br>
            <a class="btn btn-default js-edit-button" href="{{href 'profile' ../user 'edit'}}">Edit</a>
          {{/with}}
        </div>
      {{/if}}
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        {{#if orders.length}}
          <h4>Orders:</h4>
          <div class="timeline">
            <ol>
              {{#each orders}}
                <li>
                  {{#if isDeleted}}
                    <div class="tweet">
                      <div class="content">Tweet was deleted.</div>
                    </div>
                  {{else}}
                    {{#if ../../isOwner}}
                      {{#with tweet order=this}}
                        {{> tweet/single}}
                      {{/with}}
                    {{else}}
                      {{#with tweet isView=this}}
                        {{> tweet/single}}
                      {{/with}}
                    {{/if}}
                  {{/if}}
                </li>
              {{/each}}
            </ol>
          </div>
        {{/if}}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
