{{#contentFor 'scripts'}}
  require(['app/activity']);
{{/contentFor}}

<section id="introduction" class="intro">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          {{> common/editable}}
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form action="/activity">
            <div class="form-group">
              <input class="form-control" type="search" name="q" data-query="{{q}}" placeholder="Search for tweet" value="{{q}}">
            </div>
            <div class="form-group">
              <button class="btn btn-default pull-right" title="search"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</section>

<section id="content-placeholder" class="container">
<div class="container">
    <div class="col-lg-12">
      <div class="col-lg-8 col-lg-offset-2">
        {{#with this showCampaign=true}}
          {{> tweet/list}}
        {{/with}}
      </div>
      <div class="col-lg-2"></div>
    </div>
</div>
</section>
