{{#contentFor 'scripts'}}
  require(['app/main'])
{{/contentFor}}

<section id="introduction" class="intro">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8 col-md-offset-2">
            {{> common/editable}}
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-8 col-md-offset-2">
            {{#if currentUser}}
              <form id="tweet-form" action="/tweets/add" method="POST">
                <div class="form-group">
                  <textarea class="form-control" name="status" cols="30" rows="3" required maxlength="140" spellcheck="false" data-campaign="{{campaign}}">@{{config.twitter.botName}}</textarea>
                </div>
                <button class="btn btn-default js-post-tweet">Submit</button>
                <span class="js-tweet-length">140</span>
                <hr>
              </form>
            {{else}}
              <h2 class="text-center"><a href="{{href 'auth/login'}}">Sign-in with Twitter</a></h2>
            {{/if}}
          </div>
          <div class="col-md-2"></div>
        </div>

        <div class="col-md-12">
          <div class="col-md-8 col-md-offset-2">
            <form action="/activity">
              <div class="form-group">
                <input class="form-control" type="search" name="q" placeholder="Search">
              </div>
              <button class="btn btn-default" title="search"><span class="glyphicon glyphicon-search"></span></button>
            </form>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content-placeholder" class="container">
  {{#if lastTweet}}
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        <div class="timeline js-last-tweet">
          {{> tweet/single lastTweet}}
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  {{/if}}
  <div class="col-md-12">
    {{#each campaigns}}
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <h3><a href="{{href 'campaign' this}}">#{{name}}</a></h3>
            {{> tweet/list}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>
