/* import dependencies */
@import url(lib/bootstrap.min.css);
@import url(lib/bootstrap-responsive.min.css);
@import url(lib/jquery.textcomplete.css);

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/*====================== 1. General CSS ========================== */
body {
   color: #555555;
   background: #ffffff;
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   font-size: 1.3em;
   line-height: 2em;
}

.hide {
   opacity: 0;
}

.wrapper {
   max-width: 960px;
   margin: 0 auto;
}

.text-center {
   text-align: center;
}

/* colors */
.white {
 color: #FFF;
}
.black {
 color: #000
}
.grey {
 color: #c0c0c0;
}
.normal {
 color: #000;
}

 /* ================== TYPHOGRAPHY =================*/
p {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 25px;
}

h1 {
  font-size: 2em;
  color: #1a1a1a;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.9em;
  line-height: 2em;
  color: #1a1a1a;
  letter-spacing: 0.1em;
}
h3 {
  font-size: 1.8em;
  line-height: 1.9em;
  color: #1a1a1a;
  letter-spacing: 0.1em;
}
h4 {
  font-size: 1.6em;
  line-height: 1.8em;
  color: #1a1a1a;
  letter-spacing: 0.1em;
}

a:hover {
   text-decoration: none;
}

a, a:hover, i, i:hover, a img, a img:hover, input[type="button"], input[type="submit"], button {
 transition: all .1s ease-in-out;
}

.row {
  padding-top: 50px;
}

/* =============== NAVBAR ==================*/
.navbar-default {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-bottom: 1px solid #E5E5E5;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
    border-radius: 0;
    background: rgba(255, 255, 255, 1);
    padding: 10px 0 15px;
    border-bottom: 2px solid #f83a16;
    border-top:1px solid #E5E5E5;
    box-shadow: none;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 900;
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-default .navbar-brand:hover {
    color: #0084b4;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a .login-icon {
    color: #55acee;
    font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li.active>a {
    color: #0084b4;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: rgba(255, 255, 255, 1);
}

@media (max-width: 979px) {
    .navbar {
        position: static;
        margin-bottom: 0;
        background: rgba(255, 255, 255, 1);
    }
}

/* ==================== CONTACT & FOOTER ========== */

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

/** Embedded Tweets */

.timeline {
    display: block;
    max-width: 99%;
    min-width: 220px;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 10px 0;
    border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
    border-width: 1px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 3px;
    position: static;
    visibility: visible;
}

.timeline ol {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeline ol li {
    background: #fff;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    background-clip: padding-box;
}

.tweet {
    border-bottom: 1px solid #e1e8ed;
    cursor: pointer;
    padding: 12px 16px 8px;
}

.tweet .content {
    margin-left: 58px;
}

.tweet-inner-header .account-group {
    color: #999;
    display: block;
}

.tweet-inner-header .account-group .avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
}

.tweet-inner-header .username {
    direction: ltr;
    unicode-bidi: embed;
    text-decoration: none;
    color: #b1bbc3;
}

.fullname {
    font-weight: bold;
    color: #292f33;
}

.time a {
    color: #8899a6;
}

.tweet .tweet-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.tweet-inner-footer {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 11px;
    min-height: 30px;
}

.tweet-actions {
    float: right;
    right: 0;
    bottom: 1px;
}

.tweet-actions a {
    color: #66757f;
}

.tweet-actions a:hover {
    color: #0084b4;
}

.popover {
    z-index: 9999;
}
