{{!< admin}}

{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}orders{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">Orders</div>

  <div class="panel-body">
    <div class="row">
      <form class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <select name="status" class="form-control">
            <option value="">Any</option>
            <option {{#is query.status 'new'}}selected{{/is}} value="new">New</option>
            <option {{#is query.status 'expired'}}selected{{/is}} value="expired">Expired</option>
            <option {{#is query.status 'paid'}}selected{{/is}} value="paid">Paid</option>
            <option {{#is query.status 'complete'}}selected{{/is}} value="complete">Complete</option>
            <option {{#is query.status 'invalid'}}selected{{/is}} value="invalid">Invalid</option>
          </select>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="isDeleted" {{#if query.isDeleted}}checked{{/if}}> With Deleted Tweets</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="isProcessed" {{#if query.isProcessed}}checked{{/if}}> Sent</label>
        </div>
        <div class="form-group">
          <button class="btn btn-default pull-right" title="filter"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>
      <div class="col-md-2"></div>
    </div>
  </div>

  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <th>Date</th>
      <th>User</th>
      <th>Status</th>
      <th>Tweet</th>
      <th>Is Sent</th>
    </thead>
    <tbody>
      {{#each orders}}
        <tr class="{{switch status complete='success' expired='warning' invalid='danger'}}">
          <td>{{formatDate createDate}}</td>
          <td><a href="{{href 'profile' user}}">{{user.displayName}}</a></td>
          <td>{{status}}</td>
          <td>
            {{#if isDeleted}}
              Tweet was deleted.
            {{else}}
              <a href="{{tweet.url}}">Twitter</a>: {{{getFormattedTweetText tweet}}}
            {{/if}}
          </td>
          <td>{{#if isProcessed}}<span class="glyphicon glyphicon-ok"></span>{{/if}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="panel-footer">
    <div class="pull-right">
      <ul class="pagination">
        {{#paginate pagination type="previous"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/orders' p=n}}">&laquo;</a></li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="5"}}
          <li class="{{#if active}}active{{/if}}"><a href="{{href 'admin/orders' p=n}}"><span>{{n}}</span></a></li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/orders' p=n}}">&raquo;</a></li>
        {{/paginate}}
      </ul>
    </div>
  </div>
</div>
