<div {{#if currentUser.isAdmin}}id="editable"{{/if}} contenteditable="{{#if currentUser.isAdmin}}true{{else}}false{{/if}}">
  {{{pageStaticContent.content}}}
</div>
{{#if currentUser.isAdmin}}
  <div id="saveDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Save page</h4>
        </div>

        {{#with pageStaticContent}}
          <div class="modal-body">
            <form id="save-form">
              <div class="form-group">
                <div class="col-md-12">
                  <input class="form-control" type="text" name="title" value="{{title}}" placeholder="Page title" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <textarea class="form-control" name="description" cols="30" rows="10" placeholder="Page description" required>{{description}}</textarea>
                </div>
              </div>
              <button style="display: none;"></button>
            </form>
          </div>
        {{/with}}

        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary js-save-changes pull-right">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
