{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

<section id="introduction" class="intro">
</section>

<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{err.status}} {{err.message}}</h1>
    </div>
  </div>
</section>
