{{#contentFor 'scripts'}}require(['app/campaign/list']);{{/contentFor}}

<section id="introduction" class="intro">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          {{> common/editable}}
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form>
            <div class="form-group">
              <input class="form-control" type="search" name="q" data-query="{{q}}" placeholder="Search" value="{{q}}">
            </div>
            <div class="form-group">
              <button class="btn btn-default pull-right" title="search"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        {{#each campaigns}}
          <p><a href="{{href 'campaign' this}}">#{{name}}</a> {{getKey this 'counters.tweets.count' 0}} tweets, {{getKey this 'counters.users.count' 0}} activists and {{getKey this 'counters.cards.count' 0}} cards.</p>
          <hr>
        {{/each}}
        <div class="col-md-12">
          <ul class="pagination pull-right">
            {{#paginate pagination type="previous"}}
              <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'campaigns' p=n q=../q}}#results">&laquo;</a></li>
            {{/paginate}}
            {{#paginate pagination type="middle" limit="5"}}
              <li class="{{#if active}}active{{/if}}"><a href="{{href 'campaigns' p=n q=../q}}#results"><span>{{n}}</span></a></li>
            {{/paginate}}
            {{#paginate pagination type="next"}}
              <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'campaigns' p=n q=../q}}">&raquo;</a></li>
            {{/paginate}}
          </ul>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
