{{#contentFor 'scripts'}}
  require(['app/campaign/view']);
{{/contentFor}}

<section id="introduction" class="intro">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="grey text-center">
            {{#if currentUser}}
              <a href="{{href '' campaign=campaign.name}}">Support #{{campaign.name}}</a> on #activeqrowd
            {{else}}
              <a href="{{href 'auth/login' return_url=currentUrl}}">Sign-in with Twitter</a> to support #{{campaign.name}} on #activeqrowd
            {{/if}}
          </h2>
        </div>
        <div class="col-lg-12">
          <h3 class="grey text-center">{{getKey campaign 'counters.users.count' 0}} users supports campaign with {{getKey campaign 'counters.tweets.count' 0}} tweets and {{getKey campaign 'counters.cards.count' 0}} cards.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        {{#if campaign.relatedCampaigns.length}}
          <p class="js-related-campaigns">Related campaigns: {{#each campaign.relatedCampaigns}}<a href="{{href 'campaign' this}}">{{name}}</a> {{/each}}</p>
        {{/if}}

        {{#if campaign.mentions.length}}
          <p class="js-mentions">Campaign mentions: {{#each campaign.mentions}} <a href="https://twitter.com/{{twitterHandle}}" target="_blank">@{{twitterHandle}}</a> {{/each}}</p>
        {{/if}}

        {{#if campaign.description}}
          <p>{{campaign.description}}</p>
        {{/if}}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

<section id="content-placeholder" class="container">
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-8 col-lg-offset-2">
        <input name="campaign" type="hidden" value="{{campaign.name}}">
        {{> tweet/list}}
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>
