{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#if currentUser.isAdmin}}
  {{#contentFor 'scripts'}}
    require(['app/static']);
  {{/contentFor}}
{{/if}}

<section id="introduction" class="intro"></section>

<section id="content-placeholder" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        {{> common/editable}}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
