{{!< empty}}<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {{#each urls}}
    <url>
      <loc>{{href url}}</loc>
      <changefreq>{{changeFreq}}</changefreq>
      {{#if priority}}<priority>{{priority}}</priority>{{/if}}
    </url>
  {{/each}}
</urlset>
