<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ActiveQrowd | admin - {{#block 'title'}}{{/block}}</title>

  <!-- Bootstrap core CSS -->
  {{#if config.useMinCss}}
    <link rel="stylesheet" href="/styles/styles.css">
  {{else}}
    <link href="/css/styles.css" rel="stylesheet">
  {{/if}}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.js"></script>
    <script src="js/lib/respond.min.js"></script>
  <![endif]-->
</head>

<body data-spy="scroll" data-target="#navbar">
  <nav id="navbars" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="wrapper">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{href 'admin'}}">activeqrowd | admin</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{href ''}}">Site</a></li>
          <li><a href="{{href 'profile/my'}}">{{currentUser.displayName}}</a></li>
          <li><a href="{{href 'auth/logout'}}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="introduction" class="intro">
    <div class="container">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="nav nav-pills">
              <li><a class="js-activists" href="{{href 'admin/users'}}">Activists</a></li>
              <li><a class="js-recipients" href="{{href 'admin/recipients'}}">Recipients</a></li>
              <li><a class="js-reports" href="{{href 'admin/reports'}}">Reports</a></li>
              <li><a href="{{href 'admin/orders'}}" class="js-orders">Orders</a></li>
              <li><a class="js-campaigns" href="{{href 'admin/campaigns'}}">Campaigns</a></li>
            </ul>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="content-placeholder" class="container">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        {{{body}}}
      </div>
      <div class="col-md-1"></div>
    </div>
  </section>

  <footer>
  </footer>

  {{> common/requirejs/index}}
  <script>{{#block 'scripts'}}{{/block}}</script>
</body>
</html>
