<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="{{#block 'description'}}{{pageStaticContent.description}}{{/block}}"/>

  <title>ActiveQrowd - {{#block 'title'}}{{pageStaticContent.title}}{{/block}}</title>

  {{#if config.useMinCss}}
    <link rel="stylesheet" href="/styles/styles.css"/>
  {{else}}
    <link href="/css/styles.css" rel="stylesheet"/>
  {{/if}}

  <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.js"></script>
    <script src="js/lib/respond.min.js"></script>
  <![endif]-->
</head>

<body data-spy="scroll" data-target="#navbar">
  <nav id="navbars" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="wrapper">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{href ''}}">activeqrowd</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="js-activity" href="{{href 'activity'}}">Activity</a></li>
          <li><a class="js-campaigns" href="{{href 'campaigns'}}">Campaigns</a></li>
          <li><a class="js-activists" href="{{href 'activists'}}">Activists</a></li>
          {{#if currentUser}}
            <li><a class="js-profile" href="{{href 'profile/my'}}">{{currentUser.displayName}}</a></li>
            {{#if currentUser.isAdmin}}
              <li><a class="js-admin" href="{{href 'admin'}}">Admin</a></li>
            {{/if}}
            <li><a class="js-logout" href="{{href 'auth/logout'}}">Logout</a></li>
          {{else}}
            <li><a class="js-login" href="{{href 'auth/login'}}"><img src="/images/twitter_bird.png" alt=""> Sign in with Twitter</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}

  <footer>
    <div class="col-md-12">
      <a href="{{href 'about'}}">About</a>
      <a href="{{href 'faq'}}">FAQ</a>
      <a href="{{href 'gettingstarted'}}">Getting Started</a>
      <a href="{{href 'tos'}}">Terms of Service</a>
      <a href="{{href 'support'}}">Support</a>
      <a href="{{href 'contact'}}">Contact</a>
    </div>
    <div class="col-md-12">
      <a href="https://twitter.com/{{config.twitter.botName}}" class="twitter-follow-button" data-show-count="false">Follow @{{config.twitter.botName}}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </footer>

  {{> common/requirejs/index}}
  <script>{{#block 'scripts'}}{{/block}}</script>

  {{#if config.useAnalytics}}
    <script type="text/javascript">
    window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
    window.analytics.load("qbcwx8mq00");
    window.analytics.page();
    </script>
  {{/if}}
</body>
</html>
