{{!< admin}}

{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}reports{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">Reports</div>

  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <th>Date</th>
      <th>Cards count</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {{#each reports}}
        <tr>
          <td>{{formatDate createDate}}</td>
          <td>{{cardsCount}}</td>
          <td>
            <a class="btn btn-default" href="{{href 'admin/reports' id 'download'}}" title="download"><span class="glyphicon glyphicon-download"></span></a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="panel-footer">
    <div class="pull-right">
      <ul class="pagination">
        {{#paginate pagination type="previous"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/reports' p=n}}">&laquo;</a></li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="5"}}
          <li class="{{#if active}}active{{/if}}"><a href="{{href 'admin/reports' p=n}}"><span>{{n}}</span></a></li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/reports' p=n}}">&raquo;</a></li>
        {{/paginate}}
      </ul>
    </div>
  </div>
</div>
