<script src="/js/lib/require.js"></script>
<script>
  require.config({{#if config.useOptimizedScripts}}{}{{else}}{{{getRequireJSConfig}}}{{/if}});
  require.config({
    baseUrl: "{{config.basePath}}{{#if config.useOptimizedScripts}}scripts{{else}}js{{/if}}/",
    urlArgs: "{{config.staticUrlArgs}}",
    locale: "en-en",
    paths: {
      'socket.io': "{{config.basePath}}socket.io/socket.io",
      ckeditor: "lib/ckeditor/ckeditor"
    },
    shim: {
      ckeditor: {exports: 'CKEDITOR'}
    }
  });
</script>
