{{!< admin}}

{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}edit campaign{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">Edit campaign</div>

  <div class="panel-body">
    <form method="POST" role="form">
      {{#with campaign}}
        <div class="form-group row">
          <label class="col-md-4">Name</label>
          <div class="col-md-8"><a href="{{href 'campaign' this}}" target="_blank">{{name}}</a></div>
        </div>

        {{#if relatedCampaigns.length}}
          <div class="form-group row">
            <label class="col-md-4">Related campaigns</label>
            <div class="col-md-8">{{#each relatedCampaigns}}<a href="{{href 'admin/campaigns' name}}">#{{name}}</a> {{/each}}</div>
          </div>
        {{/if}}

        {{#if mentions.length}}
          <div class="form-group row">
            <label class="col-md-4">Mentions</label>
            <div class="col-md-8">{{#each mentions}}<a href="https://twitter.com/{{twitterHandle}}" target="_blank">@{{twitterHandle}}</a> {{/each}}</div>
          </div>
        {{/if}}

        <div class="form-group row">
          <label class="col-md-4">Description</label>
          <div class="col-md-8">
            <textarea class="form-control" name="description" cols="30" rows="10">{{description}}</textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Tweets</label>
          <div class="col-md-8">{{getKey this 'counters.tweets.count' 0}}</div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Users</label>
          <div class="col-md-8">{{getKey this 'counters.users.count' 0}}</div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Cards</label>
          <div class="col-md-8">{{getKey this 'counters.cards.count' 0}}</div>
        </div>

        <button class="btn btn-default pull-right">Save</button>
      {{/with}}
    </form>
  </div>

  <div class="panel-footer">
  </div>
</div>
