{{!< admin}}

{{#contentFor 'scripts'}}require(['app/layout']);{{/contentFor}}

{{#contentFor 'title'}}campaigns{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">Campaigns</div>

  <div class="panel-body">
    <div class="row">
      <form class="col-md-8 col-md-offset-2" action="{{href 'admin/campaigns#results'}}">
        <div class="form-group">
          <input type="search" name="q" class="form-control" placeholder="query" value="{{q}}">
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="isHidden" {{#if isHidden}}checked{{/if}}> Hidden campaigns</label>
        </div>
        <div class="form-group">
          <button class="btn btn-default pull-right" title="search"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>
      <div class="col-md-2"></div>
    </div>    
  </div>

  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Metrics</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {{#each campaigns}}
        <tr class="{{#if isHidden}}warning{{/if}}" data-campaign="{{name}}">
          <td class="js-campaign-name"><a href="https://twitter.com/#!/search?q=%23{{name}}" target="_blank">#{{name}}</a></td>
          <td class="js-campaign-description">
            <p>{{description}}</p>
          </td>
          <td>
            <dl class="dl-horizontal">
              <dt>Tweets</dt>
              <dd class="js-campaign-tweets-count">{{getKey this 'counters.tweets.count' 0}}</dd>
              <dt>Users</dt>
              <dd class="js-campaign-users-count">{{getKey this 'counters.users.count' 0}}</dd>
              <dt>Cards</dt>
              <dd class="js-campaign-cards-count">{{getKey this 'counters.cards.count' 0}}</dd>
            </dl>
          </td>
          <td>
            <a href="{{href 'admin/campaigns' name}}" class="btn btn-default" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
            {{#if isHidden}}
              <a class="btn btn-primary" href="{{href 'admin/campaigns' name 'show'}}" title="show"><span class="glyphicon glyphicon-eye-open"></span></a>
            {{else}}
              <a class="btn btn-danger" href="{{href 'admin/campaigns' name 'hide'}}" title="hide"><span class="glyphicon glyphicon-eye-close"></span></a>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="panel-footer">
    <div class="pull-right">
      <ul class="pagination">
        {{#paginate pagination type="previous"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/campaigns' p=n q=../q}}#results">&laquo;</a></li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="5"}}
          <li class="{{#if active}}active{{/if}}"><a href="{{href 'admin/campaigns' p=n q=../q}}#results"><span>{{n}}</span></a></li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
          <li class="{{#if disabled}}disabled{{/if}}"><a href="{{href 'admin/campaigns' p=n q=../q}}">&raquo;</a></li>
        {{/paginate}}
      </ul>
    </div>
  </div>
</div>
