{{#contentFor 'title'}}@{{tweet.user.twitterHandle}}: {{tweet.text}}{{/contentFor}}

{{#contentFor 'scripts'}}
  require(['app/tweet/view']);
{{/contentFor}}

<section id="introduction" class="intro">
</section>

<section id="content-placeholder" class="container">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12">
            <form action="{{href 'tweet' tweet 'pay'}}" method="POST">
              <h4>Card</h4>
              <div class="timeline">
                {{#with tweet isView=true}}
                  {{> tweet/single}}
                {{/with}}
              </div>
              {{#if recipients.length}}
                <div class="form-group row">
                  <label class="col-md-4">Recipients</label>
                  <div class="col-md-8">
                    <select class="form-control" name="recipients[]" multiple>
                      {{#each recipients}}
                        <option value="{{id}}" selected>{{name}} @{{twitterHandle}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              {{/if}}

              <button class="btn btn-default col-md-offset-4 js-submit disabled">Pay <span data-campaigns-count="{{#is tweet.campaigns.length '>' 0}}{{tweet.campaigns.length}}{{else}}1{{/is}}" data-price="{{config.bitpay.price}}" class="js-price">0</span> BTC</button>

              {{#if unrecognizedRecipients.length}}
                <div class="form-group row">
                  <span>Unfortunately, we do not have a mailing address for{{#each unrecognizedRecipients}} <a href="https://twitter.com/{{this}}" target="_blank">@{{this}}</a>{{/each}}. If you have address information - even if it's incomplete - send it to: add@activeqrowd.com. Please direct other support requests to <a href="https://twitter.com/ActiveQrowd" target="_blank">@ActiveQrowd</a>.</span>
                </div>
              {{/if}}
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
